/* Statics */
.background    { background: rgb(52, 166, 251);
    table-layout: fixed;
    border-spacing: 0;              }
.background td { padding: 0;                     }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: white;              }


/* Mobiles */
.actor  { position: absolute;            }
.coin   { background: rgb(241, 229, 89); }
.player { background: rgb(64, 64, 64);   }

/* Stile "sconfitta" e "vittoria "*/
.lost .player {
    background: rgb(160, 64, 64);
  }
  .won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
  }

/* Contenitore e console */

.content {
  max-width: 600px;
  border:solid 5px;
  border-color: #7fff81;
}
.game .playing {
  border: 10px;

}
.console {
  max-width: 600px;
}
.testo {
  margin: 0px;
  padding: 5px;
}

.lifebar {
  background-color: #fc8e8e;
  padding: 0px 3px 0px 3px;
  width: 18%;
  float: left;
}
.textbar {
  background-color: #7fff81;
  width: 80%;
  float: left;
  padding: 0px 3px 0px 3px;
}
.textbarp{
  text-align: right;
}

/* Settaggi del gioco */
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  .game {
    clear: both;
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    position: relative;
  }